POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db

DATABASE_URL=postgresql+asyncpg://your_user:your_password@db:5432/your_db # Docker
DATABASE_URL=postgresql+asyncpg://your_user:your_password@localhost:5432/your_db # Local

SECRET_KEY=your_key
SQLALCHEMY.URL=driver://your_user:your_password@localhost/your_db